.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 20 px;
}

.topnav a:hover {
    background-color: lightblue;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: brown ;
    color: white;
}

body {
    background-image: url("Pics/achtergrondmain.jpg");
}

.tekst1 {
background-color: grey;
border-width: 3px;
border-color: red;
border-style: solid;
width: 500px;
margin: auto;
}

.innertekst1 {
text-align: center;
}
